In [1]:
import numpy as np
import pandas as pd
import utils
import seaborn as sn
import matplotlib.pyplot as plt

# Load clean data

In [2]:
data = pd.read_csv('data/results_fix_notzero_final.csv', index_col=0)
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN6,_OPN7,_OPN8,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,5.0,3.0,4.0,5.0,46.0,36.0,39.0,32.0,45.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,5.0,4.0,2.0,5.0,3.0,20.0,35.0,44.0,37.0,35.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,4.0,5.0,3.0,4.0,4.0,25.0,34.0,42.0,34.0,41.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,5.0,4.0,4.0,3.0,3.0,26.0,31.0,38.0,25.0,39.0
4,3.0,3.0,4.0,2.0,4.0,2.0,2.0,3.0,3.0,4.0,...,5.0,5.0,4.0,5.0,2.0,32.0,38.0,38.0,37.0,44.0

# Get sample of 500000 rows

In [5]:
data_big = data.sample(n = 500000)
data_big

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN8,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,TYPE,CORR
577406,3.0,5.0,3.0,2.0,3.0,5.0,3.0,5.0,1.0,5.0,...,3.0,3.0,1.0,21.0,24.0,32.0,32.0,30.0,None,None
446972,5.0,2.0,5.0,5.0,5.0,2.0,5.0,5.0,5.0,1.0,...,4.0,4.0,5.0,40.0,33.0,20.0,45.0,46.0,None,None
503777,4.0,2.0,5.0,4.0,4.0,2.0,2.0,4.0,5.0,5.0,...,2.0,5.0,4.0,33.0,41.0,38.0,39.0,40.0,None,None
34035,1.0,3.0,2.0,4.0,3.0,1.0,2.0,5.0,1.0,5.0,...,5.0,5.0,5.0,21.0,13.0,35.0,24.0,50.0,None,None
622738,4.0,2.0,4.0,3.0,4.0,2.0,4.0,1.0,5.0,3.0,...,4.0,4.0,5.0,40.0,33.0,43.0,29.0,46.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118102,2.0,2.0,5.0,3.0,4.0,3.0,3.0,5.0,1.0,5.0,...,5.0,4.0,5.0,27.0,40.0,41.0,37.0,45.0,None,None
188051,3.0,3.0,1.0,5.0,5.0,2.0,1.0,5.0,1.0,5.0,...,1.0,3.0,1.0,21.0,24.0,35.0,26.0,23.0,None,None
52510,4.0,3.0,5.0,2.0,5.0,2.0,5.0,3.0,4.0,2.0,...,4.0,5.0,4.0,41.0,38.0,48.0,38.0,43.0,None,None
416176,2.0,1.0,3.0,3.0,5.0,3.0,2.0,3.0,4.0,5.0,...,3.0,5.0,5.0,31.0,19.0,32.0,36.0,41.0,None,None
101136,3.0,2.0,4.0,3.0,4.0,2.0,5.0,3.0,1.0,5.0,...,1.0,3.0,3.0,32.0,30.0,34.0,33.0,24.0,None,None

# Reset index

In [6]:
data_big=data_big.reset_index(drop=True)
data_big

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN8,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,TYPE,CORR
0,3.0,5.0,3.0,2.0,3.0,5.0,3.0,5.0,1.0,5.0,...,3.0,3.0,1.0,21.0,24.0,32.0,32.0,30.0,None,None
1,5.0,2.0,5.0,5.0,5.0,2.0,5.0,5.0,5.0,1.0,...,4.0,4.0,5.0,40.0,33.0,20.0,45.0,46.0,None,None
2,4.0,2.0,5.0,4.0,4.0,2.0,2.0,4.0,5.0,5.0,...,2.0,5.0,4.0,33.0,41.0,38.0,39.0,40.0,None,None
3,1.0,3.0,2.0,4.0,3.0,1.0,2.0,5.0,1.0,5.0,...,5.0,5.0,5.0,21.0,13.0,35.0,24.0,50.0,None,None
4,4.0,2.0,4.0,3.0,4.0,2.0,4.0,1.0,5.0,3.0,...,4.0,4.0,5.0,40.0,33.0,43.0,29.0,46.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,2.0,2.0,5.0,3.0,4.0,3.0,3.0,5.0,1.0,5.0,...,5.0,4.0,5.0,27.0,40.0,41.0,37.0,45.0,None,None
499996,3.0,3.0,1.0,5.0,5.0,2.0,1.0,5.0,1.0,5.0,...,1.0,3.0,1.0,21.0,24.0,35.0,26.0,23.0,None,None
499997,4.0,3.0,5.0,2.0,5.0,2.0,5.0,3.0,4.0,2.0,...,4.0,5.0,4.0,41.0,38.0,48.0,38.0,43.0,None,None
499998,2.0,1.0,3.0,3.0,5.0,3.0,2.0,3.0,4.0,5.0,...,3.0,5.0,5.0,31.0,19.0,32.0,36.0,41.0,None,None
499999,3.0,2.0,4.0,3.0,4.0,2.0,5.0,3.0,1.0,5.0,...,1.0,3.0,3.0,32.0,30.0,34.0,33.0,24.0,None,None

# Generate new classes

In [9]:
def data_type_create(min_corr):
    
    # create new columns for personality type and correlation with other rows in this type
    data_big['TYPE']=None
    data_big['CORR']=None
    # create variable for type index
    i=0
    
    # choose columns for correlation calculation
    cols = list(range(50))
    cols.extend([100, 101, 102, 103, 104])
    
    # iterate over all rows
    for index1, row1 in data_big.iloc[:].iterrows():
        count=0
        # check if row has no type
        if data_big.iloc[index1]['TYPE']==None:
            print(i)
            # give row1 new type
            data_big.at[index1,'TYPE']=i
            
            # iterate over all rows
            for index2, row2 in data_big.iloc[:].iterrows():
                # calculate correlation between row1 and row2
                corr = np.corrcoef(row1.iloc[cols].tolist(), row2.iloc[cols].tolist())[0][1]
                
                # if correlation is bigger than given minimum and row2 has no type
                # or its previous correlation is smaller
                if (corr >= min_corr and data_big.iloc[index2]['CORR']==None) \
                or (corr >= min_corr and data_big.iloc[index2]['CORR'] < corr) :
                    # give row2 new type
                    data_big.at[index2,'TYPE']=i
                    # save correlation between rows
                    data_big.at[index2,'CORR']=corr
                    count+=1
            print('count:', count)
            # upgrade type index
            i=i+1

In [10]:
data_type_create(0.95)
print(data['TYPE'].unique().size)

0
count: 286560
1
count: 31713
2
count: 44424
3
count: 227905
4
count: 50838
5
count: 21031
6
count: 2472
7
count: 24184
8
count: 2303
9
count: 42517
10
count: 5891
11
count: 30928
12
count: 2180
13
count: 6442
14
count: 6390
15
count: 6949
16
count: 10761
17
count: 1978
18
count: 3890
19
count: 758
20
count: 11620
21
count: 7451
22
count: 6262
23
count: 552
24
count: 5755
25
count: 1224
26
count: 631
27
count: 1229
28
count: 4139
29
count: 16333
30
count: 8
31
count: 3388
32
count: 26
33
count: 1591
34
count: 1867
35
count: 2306
36
count: 1793
37
count: 8139
38
count: 52
39
count: 58
40
count: 226
41
count: 933
42
count: 689
43
count: 729
44
count: 27
45
count: 38
46
count: 3
47
count: 20
48
count: 578
49
count: 1
50
count: 12859
51
count: 1181
52
count: 2
53
count: 222
54
count: 12
55
count: 14
56
count: 278
57
count: 10
58
count: 1450
59
count: 29
60
count: 825
61
count: 413
62
count: 298
63
count: 164
64
count: 163
65
count: 2437
66
count: 5629
67
count: 77
68
count: 1145
69
count: 1138
70
count: 1758
71
count: 337
72
count: 126
73
count: 1
74
count: 24
75
count: 73
76
count: 308
77
count: 138
78
count: 31
79
count: 4
80
count: 240
81
count: 9
82
count: 13
83
count: 1294
84
count: 448
85
count: 6
86
count: 851
87
count: 20
88
count: 1
89
count: 92
90
count: 5
91
count: 4
92
count: 29
93
count: 10
94
count: 8
95
count: 13
96
count: 2
97
count: 4
98
count: 1
99
count: 27
100
count: 35
101
count: 10
102
count: 3
103
count: 241
104
count: 35
105
count: 11
106
count: 2163
107
count: 16
108
count: 901
109
count: 512
110
count: 9
111
count: 96
112
count: 5
113
count: 257
114
count: 170
115
count: 8
116
count: 4
117
count: 35
118
count: 16
119
count: 34
120
count: 2
121
count: 173
122
count: 9
123
count: 8
124
count: 9
125
count: 11
126
count: 53
127
count: 1683
128
count: 54
129
count: 10
130
count: 4
131
count: 8
132
count: 969
133
count: 7
134
count: 5
135
count: 1
136
count: 3
137
count: 44
138
count: 1095
139
count: 25
140
count: 9
141
count: 105
142
count: 48
143
count: 350
144
count: 3
145
count: 33
146
count: 4
147
count: 29
148
count: 5
149
count: 68
150
count: 17
151
count: 4
152
count: 5
153
count: 67
154
count: 49
155
count: 31
156
count: 2
157
count: 206
158
count: 9
159
count: 12
160
count: 7
161
count: 296
162
count: 844
163
count: 119
164
count: 27
165
count: 6
166
count: 94
167
count: 58
168
count: 32
169
count: 34
170
count: 19
171
count: 14
172
count: 5
173
count: 65
174
count: 72
175
count: 1
176
count: 10
177
count: 16
178
count: 523
179
count: 1
180
count: 1
181
count: 10
182
count: 6
183
count: 41
184
count: 2
185
count: 14
186
count: 63
187
count: 1
188
count: 4
189
count: 5
190
count: 7
191
count: 11
192
count: 3
193
count: 8
194
count: 2
195
count: 1
196
count: 13
197
count: 20
198
count: 2
199
count: 10
200
count: 7
201
count: 31
202
count: 10
203
count: 26
204
count: 1
205
count: 848
206
count: 1
207
count: 1
208
count: 7
209
count: 29
210
count: 161
211
count: 170
212
count: 297
213
count: 18
214
count: 843
215
count: 2
216
count: 1
217
count: 42
218
count: 2
219
count: 185
220
count: 2
221
count: 95
222
count: 14211
223
count: 15
224
count: 2
225
count: 1
226
count: 40
227
count: 3
228
count: 13
229
count: 11
230
count: 1
231
count: 3
232
count: 1
233
count: 1
234
count: 202
235
count: 2
236
count: 1
237
count: 80
238
count: 36220
239
count: 1
240
count: 8
241
count: 28
242
count: 34
243
count: 1
244
count: 70
245
count: 3
246
count: 9
247
count: 70
248
count: 2
249
count: 2
250
count: 2
251
count: 64
252
count: 1
253
count: 2
254
count: 2
255
count: 4
256
count: 8
257
count: 5
258
count: 1
259
count: 94
260
count: 2
261
count: 1
262
count: 4
263
count: 3
264
count: 1
265
count: 11
266
count: 3
267
count: 1
268
count: 31
269
count: 2
270
count: 4
271
count: 1
272
count: 2
273
count: 50
274
count: 7
275
count: 4
276
count: 9
277
count: 1
278
count: 1
279
count: 2
280
count: 4
281
count: 5
282
count: 11
283
count: 355
284
count: 1
285
count: 2
286
count: 3
287
count: 2
288
count: 4
289
count: 2
290
count: 3
291
count: 6
292
count: 7
293
count: 1
294
count: 3
295
count: 842
296
count: 2
297
count: 1
298
count: 3
299
count: 189
300
count: 31
301
count: 11
302
count: 2
303
count: 19
304
count: 77
305
count: 5
306
count: 2
307
count: 2
308
count: 21
309
count: 1
310
count: 2
311
count: 2
312
count: 1
313
count: 6
314
count: 7
315
count: 1
316
count: 1
317
count: 3
318
count: 1
319
count: 16
320
count: 7
321
count: 1
1

In [17]:
pd.set_option("display.max_rows", None)

# Check results

In [18]:
data_big['TYPE'].value_counts()

3      146365
0       63644
238     36215
9       29861
4       25279
11      21344
222     14039
29      13388
50      12188
5       11875
7       11152
20       9465
2        9308
1        8501
37       6850
66       5428
21       5145
16       4851
14       4633
22       4207
24       3954
13       3053
28       2520
65       2249
31       2225
18       2225
106      2155
35       1877
127      1467
10       1461
58       1353
34       1351
70       1344
33       1112
15       1096
138      1053
68       1052
36       1037
51       1006
162       844
132       841
295       840
205       835
27        826
12        785
108       774
214       763
69        759
83        736
8         665
86        648
17        617
60        610
41        514
178       512
25        502
42        465
43        393
6         379
26        371
84        363
283       355
143       345
48        315
161       293
76        279
71        232
56        231
62        219
113       214
234       195
299       189
61        173
212       172
157       166
109       164
121       163
211       161
210       161
63        142
23        135
219       135
19        134
103       133
40        124
77        115
72        109
114       105
53        104
141       102
64        100
80         97
259        94
221        93
89         89
166        86
111        79
163        77
304        74
237        70
244        70
247        70
67         66
174        64
251        62
153        61
186        61
149        54
173        49
167        49
128        48
273        47
137        44
154        43
75         42
217        41
126        39
226        39
242        33
119        31
268        31
142        30
300        30
183        29
241        28
168        27
209        27
169        26
164        26
203        25
104        25
117        24
100        24
139        24
38         23
308        21
59         21
99         21
155        20
197        20
303        19
201        19
145        18
74         17
92         17
147        17
150        17
319        16
78         15
39         15
118        15
223        15
177        14
213        14
171        13
228        12
170        12
107        12
45         12
265        11
301        11
282        11
202        10
229        10
181        10
87         10
185        10
199        10
32          9
191         9
246         9
93          9
125         9
276         9
196         9
176         9
101         9
129         9
159         8
140         7
320         7
131         7
274         7
256         7
55          7
292         7
158         7
314         7
82          7
95          7
115         7
44          7
193         6
123         6
291         6
124         6
240         6
190         6
313         6
30          6
165         6
81          5
257         5
281         5
208         5
182         5
305         5
112         5
133         5
134         5
280         4
288         4
122         4
148         4
160         4
270         4
275         4
152         4
57          4
262         4
91          4
188         4
110         4
294         3
189         3
245         3
172         3
227         3
317         3
286         3
130         3
47          3
263         3
151         3
200         3
146         3
54          3
298         3
90          3
290         3
136         3
116         3
85          3
311         2
224         2
306         2
272         2
287         2
215         2
218         2
310         2
285         2
231         2
253         2
289         2
235         2
279         2
248         2
302         2
266         2
254         2
250         2
192         2
198         2
269         2
307         2
97          2
296         2
184         2
94          2
79          2
249         2
144         2
264         1
73          1
271         1
120         1
277         1
278         1
88          1
267         1
96          1
135         1
284         1
105         1
102         1
293         1
297         1
98          1
309         1
312         1
315         1
316         1
318         1
261         1
52          1
260         1
258         1
194         1
204         1
206         1
207         1
187         1
216         1
180         1
220         1
225         1
179         1
230         1
175         1
232         1
233         1
236         1
239         1
243         1
46          1
156         1
252         1
49          1
255         1
195         1
321         1
Name: TYPE, dtype: int64

# Save data

In [14]:
data_big.to_csv('data/big_results.csv')  
data_big.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN8,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,TYPE,CORR
0,3.0,5.0,3.0,2.0,3.0,5.0,3.0,5.0,1.0,5.0,...,3.0,3.0,1.0,21.0,24.0,32.0,32.0,30.0,0,1.0
1,5.0,2.0,5.0,5.0,5.0,2.0,5.0,5.0,5.0,1.0,...,4.0,4.0,5.0,40.0,33.0,20.0,45.0,46.0,1,1.0
2,4.0,2.0,5.0,4.0,4.0,2.0,2.0,4.0,5.0,5.0,...,2.0,5.0,4.0,33.0,41.0,38.0,39.0,40.0,238,0.970845
3,1.0,3.0,2.0,4.0,3.0,1.0,2.0,5.0,1.0,5.0,...,5.0,5.0,5.0,21.0,13.0,35.0,24.0,50.0,2,1.0
4,4.0,2.0,4.0,3.0,4.0,2.0,4.0,1.0,5.0,3.0,...,4.0,4.0,5.0,40.0,33.0,43.0,29.0,46.0,3,1.0

In [15]:
data_big['TYPE'].value_counts()

3      146365
0       63644
238     36215
9       29861
4       25279
        ...
252         1
49          1
255         1
195         1
321         1
Name: TYPE, Length: 322, dtype: int64

In [16]:
data_big['TYPE'].unique().size

322