In [2]:
import numpy as np
import pandas as pd
import utils
import seaborn as sn

# Load data

In [3]:
data_big = pd.read_csv('data/big_results.csv', index_col=0)
data_big

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE,TYPE,CORR
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,4.0,5.0,46.0,36.0,39.0,32.0,45.0,46.0,0,1.000000
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,5.0,3.0,20.0,35.0,40.0,37.0,35.0,40.0,1,1.000000
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,4.0,4.0,25.0,34.0,40.0,34.0,41.0,41.0,1,0.984049
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,3.0,3.0,26.0,31.0,38.0,25.0,39.0,39.0,96,0.972907
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,5.0,29.0,41.0,42.0,48.0,48.0,48.0,1,0.985012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,4.0,2.0,5.0,2.0,4.0,2.0,5.0,4.0,2.0,4.0,...,5.0,4.0,36.0,34.0,41.0,24.0,42.0,42.0,0,0.983439
499996,2.0,2.0,4.0,5.0,4.0,1.0,1.0,1.0,5.0,5.0,...,5.0,2.0,32.0,14.0,43.0,34.0,40.0,43.0,4,0.970462
499997,3.0,1.0,5.0,1.0,4.0,1.0,4.0,2.0,5.0,2.0,...,5.0,5.0,44.0,24.0,40.0,45.0,49.0,49.0,4,0.984814
499998,3.0,4.0,3.0,2.0,4.0,2.0,1.0,2.0,4.0,5.0,...,4.0,5.0,30.0,22.0,25.0,46.0,49.0,49.0,16,0.977913
499999,1.0,5.0,1.0,5.0,1.0,5.0,1.0,5.0,1.0,5.0,...,5.0,1.0,10.0,10.0,28.0,18.0,24.0,28.0,1718,0.959484

# Drop null and reset index

In [4]:
data_big=data_big.replace([np.inf, -np.inf], np.nan).dropna(axis=0)
# Drop rows with NaN
data_big=data_big.reset_index(drop=True)
data_big

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE,TYPE,CORR
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,4.0,5.0,46.0,36.0,39.0,32.0,45.0,46.0,0,1.000000
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,5.0,3.0,20.0,35.0,40.0,37.0,35.0,40.0,1,1.000000
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,4.0,4.0,25.0,34.0,40.0,34.0,41.0,41.0,1,0.984049
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,3.0,3.0,26.0,31.0,38.0,25.0,39.0,39.0,96,0.972907
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,5.0,29.0,41.0,42.0,48.0,48.0,48.0,1,0.985012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498050,4.0,2.0,5.0,2.0,4.0,2.0,5.0,4.0,2.0,4.0,...,5.0,4.0,36.0,34.0,41.0,24.0,42.0,42.0,0,0.983439
498051,2.0,2.0,4.0,5.0,4.0,1.0,1.0,1.0,5.0,5.0,...,5.0,2.0,32.0,14.0,43.0,34.0,40.0,43.0,4,0.970462
498052,3.0,1.0,5.0,1.0,4.0,1.0,4.0,2.0,5.0,2.0,...,5.0,5.0,44.0,24.0,40.0,45.0,49.0,49.0,4,0.984814
498053,3.0,4.0,3.0,2.0,4.0,2.0,1.0,2.0,4.0,5.0,...,4.0,5.0,30.0,22.0,25.0,46.0,49.0,49.0,16,0.977913
498054,1.0,5.0,1.0,5.0,1.0,5.0,1.0,5.0,1.0,5.0,...,5.0,1.0,10.0,10.0,28.0,18.0,24.0,28.0,1718,0.959484

# Filter data by best classes

In [5]:
best_class=data_big['TYPE'].value_counts()[:16].index.values.tolist()
best_class

[0, 1, 3, 4, 25, 7, 27, 14, 23, 20, 31, 5, 96, 179, 11, 16]

In [6]:
data_big_cleaned = data_big[data_big['TYPE'].isin(best_class)]
data_big_cleaned=data_big_cleaned.drop_duplicates()
data_big_cleaned=data_big_cleaned.reset_index(drop=True)
data_big_cleaned

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE,TYPE,CORR
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,4.0,5.0,46.0,36.0,39.0,32.0,45.0,46.0,0,1.000000
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,5.0,3.0,20.0,35.0,40.0,37.0,35.0,40.0,1,1.000000
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,4.0,4.0,25.0,34.0,40.0,34.0,41.0,41.0,1,0.984049
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,3.0,3.0,26.0,31.0,38.0,25.0,39.0,39.0,96,0.972907
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,5.0,29.0,41.0,42.0,48.0,48.0,48.0,1,0.985012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415057,3.0,1.0,4.0,3.0,2.0,1.0,3.0,4.0,4.0,4.0,...,4.0,5.0,33.0,26.0,40.0,35.0,42.0,42.0,0,0.975817
415058,4.0,2.0,5.0,2.0,4.0,2.0,5.0,4.0,2.0,4.0,...,5.0,4.0,36.0,34.0,41.0,24.0,42.0,42.0,0,0.983439
415059,2.0,2.0,4.0,5.0,4.0,1.0,1.0,1.0,5.0,5.0,...,5.0,2.0,32.0,14.0,43.0,34.0,40.0,43.0,4,0.970462
415060,3.0,1.0,5.0,1.0,4.0,1.0,4.0,2.0,5.0,2.0,...,5.0,5.0,44.0,24.0,40.0,45.0,49.0,49.0,4,0.984814
415061,3.0,4.0,3.0,2.0,4.0,2.0,1.0,2.0,4.0,5.0,...,4.0,5.0,30.0,22.0,25.0,46.0,49.0,49.0,16,0.977913

In [7]:
data_big_cleaned['TYPE'].value_counts()

0      143667
1      105328
3       30589
4       22700
25      14877
7       14634
27      14107
14      13665
23       9760
31       7874
20       7747
5        6874
96       6171
179      6066
11       5556
16       5447
Name: TYPE, dtype: int64

# Add classes based on big 5 factors

extraversion - introversion E-I <br>
emotional stability - neurotic S-N <br>
agreeableness - antagonism A-T <br>
conscientiousness - carelessness C-R <br>
open - closed O-C

In [8]:
data_big_cleaned['B5_TYPE']=None
for index, row in data_big_cleaned.iterrows():
    t=''
    if row['EXT']>25:
        t+='E'
    else:
        t+='I'
    if row['EST']>25:
        t+='S'
    else:
        t+='N'
    if row['AGR']>25:
        t+='A'
    else:
        t+='T'
    if row['CSN']>25:
        t+='C'
    else:
        t+='R'
    if row['OPN']>25:
        t+='O'
    else:
        t+='C'
    data_big_cleaned.at[index, 'B5_TYPE']=t
    
data_big_cleaned

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE,TYPE,CORR,B5_TYPE
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,46.0,36.0,39.0,32.0,45.0,46.0,0,1.000000,ESACO
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,3.0,20.0,35.0,40.0,37.0,35.0,40.0,1,1.000000,ISACO
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,4.0,25.0,34.0,40.0,34.0,41.0,41.0,1,0.984049,ISACO
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,3.0,26.0,31.0,38.0,25.0,39.0,39.0,96,0.972907,ESARO
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,29.0,41.0,42.0,48.0,48.0,48.0,1,0.985012,ESACO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415057,3.0,1.0,4.0,3.0,2.0,1.0,3.0,4.0,4.0,4.0,...,5.0,33.0,26.0,40.0,35.0,42.0,42.0,0,0.975817,ESACO
415058,4.0,2.0,5.0,2.0,4.0,2.0,5.0,4.0,2.0,4.0,...,4.0,36.0,34.0,41.0,24.0,42.0,42.0,0,0.983439,ESARO
415059,2.0,2.0,4.0,5.0,4.0,1.0,1.0,1.0,5.0,5.0,...,2.0,32.0,14.0,43.0,34.0,40.0,43.0,4,0.970462,ENACO
415060,3.0,1.0,5.0,1.0,4.0,1.0,4.0,2.0,5.0,2.0,...,5.0,44.0,24.0,40.0,45.0,49.0,49.0,4,0.984814,ENACO
415061,3.0,4.0,3.0,2.0,4.0,2.0,1.0,2.0,4.0,5.0,...,5.0,30.0,22.0,25.0,46.0,49.0,49.0,16,0.977913,ENTCO

In [9]:
print(len(data_big_cleaned['B5_TYPE'].unique()))
print(data_big_cleaned['B5_TYPE'].value_counts())

32
ESACO    188860
ISACO     63694
ENACO     57451
INACO     40468
ESARO     19618
ENARO     14243
INARO      8282
ISARO      6478
ESTCO      3341
INTCO      2574
ISTCO      2164
ENTCO      1558
ESACC      1415
ISACC      1258
INACC       721
ENACC       691
INTRO       537
ENTRO       335
ESTRO       298
ESARC       291
ISARC       209
ISTRO       127
INTCC        85
ENARC        74
INARC        73
ISTRC        51
ISTCC        35
ENTCC        35
INTRC        33
ESTRC        29
ESTCC        25
ENTRC         9
Name: B5_TYPE, dtype: int64

# Save new data

In [10]:
data_big_cleaned.to_csv('data/big_cleaned_results.csv')