In [1]:
import numpy as np
import pandas as pd
import utils
import seaborn as sn
import matplotlib.pyplot as plt
from joblib import dump, load

In [2]:
data = pd.read_csv('data/results.csv', index_col=0)
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE,WINNER,CONFLICT
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,4.0,5.0,46.0,36.0,39.0,32.0,45.0,46.0,EXT,False
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,5.0,3.0,20.0,35.0,40.0,37.0,35.0,40.0,AGR,False
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,4.0,4.0,25.0,34.0,40.0,34.0,41.0,41.0,OPN,False
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,3.0,3.0,26.0,31.0,38.0,25.0,39.0,39.0,OPN,False
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,5.0,29.0,41.0,42.0,48.0,48.0,48.0,CSN,True

In [3]:
data=data.drop(['WINNER','CONFLICT'], axis=1)
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN7,_OPN8,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,3.0,4.0,5.0,46.0,36.0,39.0,32.0,45.0,46.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,4.0,2.0,5.0,3.0,20.0,35.0,40.0,37.0,35.0,40.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,5.0,3.0,4.0,4.0,25.0,34.0,40.0,34.0,41.0,41.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,4.0,3.0,3.0,26.0,31.0,38.0,25.0,39.0,39.0
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,3.0,5.0,5.0,29.0,41.0,42.0,48.0,48.0,48.0

In [4]:
data_big2 = data.copy()
data_big2=data_big2.dropna()

In [5]:
data_big2['B5_TYPE']=None
for index, row in data_big2.iterrows():
    t=''
    if row['EXT']>25:
        t+='E'
    else:
        t+='I'
    if row['EST']>25:
        t+='S'
    else:
        t+='N'
    if row['AGR']>25:
        t+='A'
    else:
        t+='T'
    if row['CSN']>25:
        t+='C'
    else:
        t+='R'
    if row['OPN']>25:
        t+='O'
    else:
        t+='C'
    data_big2.at[index, 'B5_TYPE']=t
    
data_big2

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN8,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE,B5_TYPE
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,3.0,4.0,5.0,46.0,36.0,39.0,32.0,45.0,46.0,ESACO
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2.0,5.0,3.0,20.0,35.0,40.0,37.0,35.0,40.0,ISACO
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,3.0,4.0,4.0,25.0,34.0,40.0,34.0,41.0,41.0,ISACO
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,3.0,3.0,26.0,31.0,38.0,25.0,39.0,39.0,ESARO
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,3.0,5.0,5.0,29.0,41.0,42.0,48.0,48.0,48.0,ESACO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015336,4.0,2.0,4.0,3.0,4.0,3.0,3.0,3.0,3.0,3.0,...,2.0,2.0,4.0,34.0,27.0,36.0,31.0,33.0,36.0,ESACO
1015337,4.0,3.0,4.0,3.0,3.0,3.0,4.0,4.0,3.0,3.0,...,4.0,5.0,4.0,32.0,16.0,35.0,28.0,45.0,45.0,ENACO
1015338,4.0,2.0,4.0,3.0,5.0,1.0,4.0,2.0,4.0,4.0,...,5.0,4.0,5.0,39.0,31.0,35.0,19.0,48.0,48.0,ESARO
1015339,2.0,4.0,3.0,4.0,2.0,2.0,1.0,4.0,2.0,4.0,...,5.0,5.0,3.0,22.0,25.0,35.0,38.0,41.0,41.0,INACO
1015340,4.0,2.0,4.0,2.0,4.0,1.0,4.0,2.0,4.0,4.0,...,4.0,5.0,5.0,39.0,31.0,40.0,28.0,47.0,47.0,ESACO

In [6]:
print(len(data_big2['B5_TYPE'].unique()))
print(data_big2['B5_TYPE'].value_counts())

32
ESACO    404242
ENACO    148481
ISACO    147433
INACO    106191
ESARO     45028
ENARO     35562
INARO     27323
ISARO     19536
ISTCO     14456
ESTCO     10699
INTCO      9401
ESACC      6881
ENTCO      4869
ISACC      4657
ESARC      4471
INACC      4082
INTRO      3383
ISTRO      2967
ENACC      2853
ESTRO      2479
INARC      1779
ENTRO      1721
ENARC      1093
ISARC      1032
INTCC       534
ISTCC       527
INTRC       512
ESTCC       488
ISTRC       276
ESTRC       266
ENTCC       175
ENTRC       161
Name: B5_TYPE, dtype: int64